.snmd-mcl-Nag {
    stroke: Black;
    stroke-linecap: round;
    stroke-width: 1.5px;
}

.snmd-lcl-Nag {
    fill: none;
    stroke: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
}

.snmd-tcl-Nag {
    font-size: 12px;
    font-weight: bolder;
}


.snmd-lcl-NagIf-in,
.snmd-lcl-NagIf-inucast,
.snmd-lcl-NagIf-if_in_octets {
    fill: var(--SNMD_green2);
    stroke: var(--SNMD_green2);
    background-color: var(--SNMD_green2);
}
.snmd-lcl-NagIf-drop {
    fill: var(--SNMD_red);
    stroke: var(--SNMD_red);
    background-color: var(--SNMD_red);
}
.snmd-lcl-NagIf-out,
.snmd-lcl-NagIf-outucast,
.snmd-lcl-NagIf-if_out_octets,
.snmd-lcl-NagIf-post {
    stroke: var(--S_blue);
    background-color: var(--S_blue);
}

.snmd-tcl-NagIf-in,
.snmd-tcl-NagIf-inucast,
.snmd-tcl-NagIf-if_in_octets {
    text-anchor: begin;
    fill: var(--SNMD_green2);
    transform: translate(3px, 13px);
}
.snmd-tcl-NagIf-drop {
    text-anchor: end;
    fill: var(--SNMD_red);
    transform: translate(-3px, 13px);
}
.snmd-tcl-NagIf-out,
.snmd-tcl-NagIf-outucast,
.snmd-tcl-NagIf-if_out_octets {
    text-anchor: end;
    fill: var(--S_blue);
    transform: translate(-3px, 13px);
}
.snmd-tcl-NagIf-post {
    text-anchor: begin;
    fill: var(--S_blue);
    transform: translate(3px, 13px);
}


.snmd-lcl-NagFc-in,
.snmd-lcl-NagIO-read {
    fill: var(--SNMD_magenta);
    stroke: var(--SNMD_magenta);
    background-color: var(--SNMD_magenta);
}
.snmd-lcl-NagFc-out,
.snmd-lcl-NagIO-write {
    stroke: var(--S_violet);
    background-color: var(--S_violet);
}

.snmd-tcl-NagFc-in,
.snmd-tcl-NagIO-read {
    text-anchor: begin;
    fill: var(--SNMD_magenta);
    transform: translate(3px, 13px);
}
.snmd-tcl-NagFc-out,
.snmd-tcl-NagIO-write {
    text-anchor: end;
    fill: var(--S_violet);
    transform: translate(-3px, 13px);
}


.snmd-bcl-NagTrPerfData {
    fill: var(--SNMD_undefined);
    animation: snmp-kf-opacity 6s ease infinite;
}
.snmd-bcl-NagTrPerfData.snmd-scl-0 {
    fill: var(--SNMD_ok);
    animation: none;
}
.snmd-bcl-NagTrPerfData.snmd-scl-1 {
    fill: var(--SNMD_warning);
    animation: snmp-kf-opacity 4s ease infinite;
}
.snmd-bcl-NagTrPerfData.snmd-scl-2 {
    fill: var(--SNMD_critical);
    animation: snmp-kf-opacity 2s ease infinite;
}
.snmd-bcl-NagTrPerfData.snmd-scl-3 {
    fill: var(--SNMD_unknown);
}


.snmd-bcl-opacity-stroke.snmd-bcl-Nagios_Class-TextState {
    stroke-width: 1px;
}
.snmd-bcl-opacity-stroke.snmd-bcl-Nagios_Class-TextState.snmd-scl-0 {
    stroke: none;
}


.snmd-lcl-NagDiskUtil-disk_utilization {
    fill: var(--SNMD_orange);
    stroke: var(--SNMD_orange);
    background-color: var(--SNMD_orange);
}
.snmd-tcl-NagDiskUtil-disk_utilization {
    text-anchor: begin;
    fill: var(--SNMD_orange);
    transform: translate(3px, 13px);
}

.snmd-qt-NagHost {
    font-weight: bolder;
    margin: 0;
}


.snmd-lcl-NagWlcClients-connections {
    fill: var(--SNMD_violet);
    stroke: var(--SNMD_violet);
    background-color: var(--SNMD_violet);
}
.snmd-tcl-NagWlcClients-connections {
    text-anchor: begin;
    fill: var(--SNMD_violet);
    transform: translate(3px, 13px);
}


.snmd-lcl-NagPerfData-0 {
    fill: var(--SNMD_magenta);
    stroke: var(--SNMD_magenta);
    background-color: var(--SNMD_magenta);
}
.snmd-lcl-NagPerfData-1 {
    stroke: var(--S_violet);
    background-color: var(--S_violet);
}

.snmd-tcl-NagPerfData-0 {
    text-anchor: begin;
    fill: var(--SNMD_magenta);
    transform: translate(3px, 13px);
}
.snmd-tcl-NagPerfData-1 {
    text-anchor: end;
    fill: var(--S_violet);
    transform: translate(-3px, 13px);
}


.snmd-qt-NagService {
    font-weight: bold;
    margin: 0 0 0 1em;
}

.snmd-qt-NagOutput {
    font-weight: lighter;
    margin: 0 0 0 2em;
    padding: 0.4em;
}
